<html>
	<head>
		<title><%= title %></title>
	</head>
	<!-- <body>
		<div>
			<a href="/seller">Seller</a> | 
			<a href="/buyer">Buyer</a>
		</div>	
        <h1><%= title %></h1>
	</body> -->
	<% include scripts/common_scripts %> 
</html>